<div class="bg-white border-b border-border-primary min-h-10 p-4 flex items-center justify-between">
  <a [routerLink]="['/']">
    <h1 class="text-2xl font-bold">Lister</h1>
  </a>

  <app-stock-search />
  <div>
    @if (marketStatus.hasValue()) {
      <div class="text-sm text-gray-500">
        @if (marketStatus.value().isOpen) {
          <div class="text-green-500">Market Open</div>
        } @else {
          <div class="text-red-500">Market Closed</div>
        }
      </div>
    } @else if (marketStatus.error()) {
      <div></div>
      <!-- <div>{{ marketStatus.error() }}</div> -->
    } @else if (marketStatus.isLoading()) {
      <div>Loading user info...</div>
    }
  </div>
</div>
